@media screen and (max-width: 320px) {
  .landing-page-description {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #ae0a1a;    
    border: 1px solid black;
    margin-top: 75px;
  }
  
  .opacity-background {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 196, 0, 0.6)
  }
  
  .landing-page-description p {
    display: flex;
    padding: 2px;
  }
}

@media screen and (min-width: 321px) {
  .landing-page-description {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    color: #ae0a1a;
    border: 1px solid black;
  }

  .opacity-background {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 196, 0, 0.6)
  }

  .landing-page-description p {
    display: flex;
  }
}