@media screen and (max-width: 320px) {
  .landing-page-description {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #ae0a1a;    
    border: 3px solid #c60b1e;
    border-radius: 5px;
    margin-top: 75px;
  }
  
  .opacity-background {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffc400;
  }
  
  .landing-page-description p {
    display: flex;
    padding: 2px;
  }
}

@media screen and (min-width: 321px) {
  .landing-page-description {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    color: #ae0a1a;
    border: 3px solid #c60b1e;
    border-radius: 5px;
  }

  .opacity-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffc400;
    padding: 5px;
    box-sizing: border-box;
  }

  .landing-page-description p {
    display: flex;
  }
}