/* 
#c60b1e
#ffc400 
*/

.home {
  width: 20%;
  height: 250px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #ffc400;
  border: 3px solid #c60b1e;
  border-radius: 5px;
}

.home h2 {
  width: 100%;
  top: 0px;
  text-align: center;
  padding: 0px;
  margin: 10px 0px 10px 0px;
  color: #c60b1e;
  font-family: 'Permanent Marker', cursive;
}
